nav .nav-item {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding-right:30px;
    margin-top: 30px;
}

ul.navbar-nav {
    list-style-type: none;
    color: blue;
}

button.nav-link {
    color: blue;
    border:none;
    cursor: pointer;
}

.nav-item form {
    background: white;
}

.nav-link {
    color: blue;
}

.nav-link:hover {
    transform: scale(1.15);
    color: blue;
}

.jumbo {
    background-color: darkblue;
    color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}

.jumbo .input-group {
    width: 500px;
}

.jumbo select {
    width: 55px;
}

.group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.group-row:hover {
    cursor: pointer;
}

#table-container {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 400px;
    margin-right: 400px;

}

.badge {
    background: gold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-star.marked {
    color: yellow;
}

.save-bookmark.marked {
    visibility: hidden;
}

.fa-star {
    cursor: pointer;
}

#registerForm, #loginForm {
    margin-left: 25%;
    margin-right: 25%;
}

#registerForm .row, #loginForm .row {
    padding-bottom: 15px;
}

#registerForm button, #loginForm button {
    background-color: deepskyblue;
}

#registerFormTitle, #loginFormTitle {
    margin-top: 100px;
}

#filterButton {
    float: right;
    margin-top: 30px;
    margin-bottom: 50px;
}

#sortSelect {
    width: 180px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 80%;
}

#searchResultTitle {
    margin-top: 20px;
    margin-bottom: 40px;
}

#guest-login-link {
    padding-bottom: 70px;
    font-size: 20px;
}