<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{main_layouts :: head(title = 'Library Interface')}">
</head>
<body>

<div th:replace="~{main_layouts :: navigation}"></div>
<form th:action="@{/result}" th:object="${search}" method="get">
    <div th:replace="~{main_layouts :: jumbotron}">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- sidebar -->
                <div th:replace="~{main_layouts :: sidebar}"></div>
            </div>
            <div class="col-sm-8 book">
                <select class="form-select" th:field="*{sortCriterion}" aria-label="Default select example">
                    <option selected value="date-desc">date descending</option>
                    <option value="publicationDate">date ascending</option>
                    <option value="author">author</option>
                    <option value="title">title</option>
                </select>
                <h3 th:text="${books.size() != 0} ? 'Search Results:' : 'Search returned no results.'" ></h3>
                <div class="row" th:each="book,iterStat : ${books}">
                    <div class="col-sm-2">
                        <div><span class="bookcount" th:text="${iterStat.count + pageSize * pageNo}">1</span></div>
                    </div>
                    <div class="col-sm-10">
                        <div class="title">
                            <a class="title " th:href="@{'/detail/' + ${book.book_id}}" th:text="${book.title}">
                                Title Goes Here
                            </a></div>
                        <div class="author">
                            <span class="author" th:text="${book.author}">the author</span></div>
                        <div class="author">
                            <span class="publication-details"
                                  th:text="${book.publication_place} + ', ' + ${book.publicationDate.getYear()}">the publication details</span>
                        </div>
                        <div class="bookmark" th:bookID="${book.book_id}" th:onclick="addToFavorites(this)" sec:authorize="isAuthenticated()">
                            <i th:class="${bookmarked.contains(book)} ? 'marked fas fa-star' : 'free fas fa-star'"></i>
                            <span th:class="${bookmarked.contains(book)} ? 'marked save-bookmark' : 'free save-bookmark'">save as favorite</span>
                        </div>
                    </div>
                    <hr class="bg-danger border-2 border-top border-danger">
                </div>
                <div th:replace="~{main_layouts :: pagination}"></div>
            </div>
        </div>
    </div>

</form>
</body>
</html>