<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title th:text="${title}">online library</title>
    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald|Roboto" >
    <!-- Font Awesome (for icons) -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg" th:fragment="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/list">
                        <i class="fas fa-home fa-2x" aria-hidden="true"></i> Home
                    </a>
                </li>

                <!-- if user is signed in -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/account}">
                        <i class="fa fa-user fa-2x" aria-hidden="true" ></i> Account</a>
                </li>
                <li class="nav-item">
                    <form method="POST" th:action="@{/logout}" sec:authorize="isAuthenticated()">
                        <button class="nav-link">
                            <i class="fa fa-sign-out-alt fa-2x" aria-hidden="true" ></i> LOG OUT</button>
                    </form>
                </li>
                <!-- if user is not signed in -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fa fa-sign-in-alt fa-2x" aria-hidden="true" ></i> Log In</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/register}">
                        <i class="fa fa-user-plus fa-2x" aria-hidden="true" ></i> Register</a>
                </li>
            </ul>
        </div>
        <div class="hi-logged-in" sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b>
        </div>
    </div>
</nav>

<div class="jumbo" th:fragment="jumbotron">
    <div align="center">
        <img
                th:src="@{/images/arms_xs.jpg}">
        <h2 class="display-4">Online Library</h2>
        <p class="lead">This is a view of the contents of a library to search for books and organize reservations and check-outs </p>

        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" th:field="*{term}">
            <select class="form-select" th:field="*{searchBarFilter}" aria-label="Default select example">
                <option selected value="title">Title</option>
                <option value="author">Author</option>
            </select>
            </input>
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>

    </div>
</div>

<div class="jumbo" th:fragment="mini-jumbotron">
    <div align="center">
        <img
                th:src="@{/images/arms_xs.jpg}">
        <h2 class="display-4">Online Library</h2>
    </div>
</div>



<div th:fragment="sidebar">
    <div class="accordion" id="accordionPanelFilter">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Access Type
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body" th:each="entry : ${accessGroups}">
                    <div class="group-row" th:onclick="clickRespectiveCheckbox(this)">
                        <input onClick="event.stopPropagation();" type="checkbox" name="accessTypes" id="${entry.getKey()}" th:value="${entry.getKey()}" th:checked="${search.getAccessTypes()?.contains(entry.getKey())}"   />
                        <div th:text="${entry.getKey()}"></div>
                        <div th:text="${entry.getValue()}" class="badge"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Department
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body" th:each="entry : ${departmentGroups}">
                    <div class="group-row" th:onclick="clickRespectiveCheckbox(this)">
                        <input onClick="event.stopPropagation();" type="checkbox" name="departments" th:value="${entry.getKey()}" th:checked="${search.getDepartments()?.contains(entry.getKey())}" />
                        <div th:text="${entry.getKey()}"></div>
                        <div th:text="${entry.getValue()}" class="badge"></div></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Language
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body" th:each="entry : ${languageGroups}">
                    <div class="group-row" th:onclick="clickRespectiveCheckbox(this)">
                        <input type="checkbox" onClick="event.stopPropagation();" name="languages" th:value="${entry.getKey()}" th:checked="${search.getLanguages()?.contains(entry.getKey())}" />
                        <div th:text="${entry.getKey()}"></div>
                        <div th:text="${entry.getValue()}" class="badge"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" id="filterButton" class="btn btn-outline-primary">Activate filter</button>
</div>


<!-- variable part of pagination nav -->
<a th:fragment="paging(pageNum, label, tooltip, term, searchBarFilter, accessTypes, departments, languages, sortCriterion)" class="page-link"
   th:href="@{/result(pageNo=${pageNum-1}, pageSize=${pageSize}, term=${term}, searchBarFilter=${searchBarFilter}, accessTypes=${accessTypes}, departments=${departments}, languages=${languages}, sortCriterion=${sortCriterion})}"
   th:title="${tooltip}" rel="tooltip">
    [[${label}]]
</a>

<!-- pagination -->
<nav aria-label="Pagination" th:fragment="pagination" th:if="${totalPages > 0}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="main_layouts :: paging(1, '<<', 'First Page', ${term}, ${searchBarFilter}, ${accessTypes}, ${departments}, ${languages}, ${sortCriterion})"></a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="main_layouts :: paging(${currentPage - 1}, 'Prev', 'Previous Page', ${term}, ${searchBarFilter}, ${accessTypes}, ${departments}, ${languages}, ${sortCriterion})"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
            th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
            <a th:replace="main_layouts :: paging(${page}, ${page}, 'Page ' + ${page}, ${term}, ${searchBarFilter}, ${accessTypes}, ${departments}, ${languages}, ${sortCriterion})"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="main_layouts :: paging(${currentPage + 1},'Next', 'Next Page', ${term}, ${searchBarFilter}, ${accessTypes}, ${departments}, ${languages}, ${sortCriterion})"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="main_layouts :: paging(${totalPages}, '>>', 'Last Page', ${term}, ${searchBarFilter}, ${accessTypes}, ${departments}, ${languages}, ${sortCriterion})"></a>
        </li>
    </ul>
</nav>

</body>
</html>